# Connect to Supabase via connection pooling.
DATABASE_URL="postgres://username:password@localhost:5432/dbname"

# Direct connection to the database. Used for migrations.
DIRECT_URL="postgres://username:password@localhost:5432/dbname"


# Next Auth Configuration (if needed)
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-nextauth-secret

# Other Environment Variables
NODE_ENV=development


